header {
  display: flex;
  flex-direction: column;
  background-color: #334455;

  #adminbar {
    display: flex;
    justify-content: center;
    background-color: purple;
  }

  #mjbar {
    display: flex;
    justify-content: center;
    background-color: red;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #aaa;
  
    #logo {
      margin-right: 2rem;
      img {
        width: 96px;
      }
    }
  
    nav {
      ul {
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        li {
          margin-right: 1rem;
        }
      }
    }
  
    #userzone {
      margin-left: auto;
      
      .logged, .notlogged {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
