:root {
    /* Les breakpoints pour les différentes largeurs pour le design responsive */
    --breakpoint-desktop-battle: 1400px;
    --breakpoint-desktop: 1280px;
    --breakpoint-tablet: 720px;
    --breakpoint-mobile: 360px;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image:
        linear-gradient( rgba( 0,0,0,0.4 ) , rgba( 0,0,0,0.8 ) ),
        url('../images/backgrounds/main.jpg'),
        url('../images/backgrounds/tileable-tigers-blue.jpg');
    background-repeat: repeat, no-repeat, repeat;
    background-color: var(--color-dark);
    font-family: var(--font-base);;
    font-size: var(--font-size-base);
    color: var(--font-color-base);
    line-height: var(--line-height-base);

    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

.container {
    display: block;
    flex-grow: 1;
    margin: 0 auto;
    width: var(--breakpoint-desktop);
}

@media (max-width: 1279px) { /* Design pour Tablet - 720px à 1279px */
    .container {
        background-color: red;
        width: 100%;
        min-width: var(--breakpoint-tablet);
    }
}

@media (max-width: 719px) { /* Design pour Tablet - 360px à 719px */
    .container {
        background-color: blue;
        width: 100%;
        min-width: var(--breakpoint-mobile);
    }
}

.layout-flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    div {
        flex-grow: 1;
    }
}
