:root {
    box-sizing: border-box;
    font-size: var(--font-size-base);
}

body {
    margin: 0;
    background-image:
        linear-gradient( rgba( 0,0,0,0.4 ) , rgba( 0,0,0,0.8 ) ),
        url('../images/backgrounds/main.jpg'),
        url('../images/backgrounds/tileable-tigers-blue.jpg');
    background-repeat: repeat, no-repeat, repeat;
    background-color: var(--color-dark);
    font-family: var(--font-base);
    color: var(--font-color-base);
    line-height: var(--line-height-base);

    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
