.card {
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    background-image: linear-gradient( rgba( 255,255,255,0.1 ) , rgba( 255,255,255,0.1 ) ) ;
    backdrop-filter: blur(80px);
    box-sizing: border-box;
    box-shadow: 0 0 1rem var(--color-black-alpha-25);
    border: 1px solid var(--color-dark-lighter);

    &.row {
        flex-direction: row;
        padding: 0.25rem;
    }

    &.column { flex-direction: column; }
    &.justify-center { justify-content: center; }
    &.align-center { align-items: center ;}

    &.big {
        width: 100%;
    
        .card-title {
            color: var(--color-white);
            font-size: var(--font-size-xlarge);
            font-weight: bolder;
        }
    
        .status-line {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }

    &.small {
        min-width: 400px;
        width: 400px;
    }

    &.line {
        flex-direction: row;
        border-radius: 0.66rem;
        padding: 0.66rem;
    
        button {
            margin-left: auto;
        }
    }
}

.character-card {
    width: 180px; 
    @media (max-width: 719px) { width: 160px; }

    box-sizing: border-box;
    position: relative;
    filter: drop-shadow(4px 4px 4px var(--color-black-alpha-50));

    .div-image {
        border-radius: 1rem;

        &.pj { background-color: var(--color-secondary); }
        &.pnj { background-color: var(--color-primary-darkest); }

        img {
            display: block;
            border-radius: 1rem;
            width: 100%;
            mask-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.50), rgba(0,0,0,1), rgba(0,0,0,1) );
        }
    }

    .info-character {
        position: absolute;
        bottom: 1rem;
        display: block;
        width: 90%;
        z-index: 5;

        h2 {
            display: block;
            margin: 0;
            font-size: var(--font-size-large);
            text-align: center;
        }

        h4 {
            display: block;
            margin: 0;
            text-align: center;
        }
    }
}
