.avatar {
    width: 96px;
    border-radius: 3rem;

    @media (max-width: 1279px) { width: 84px; }    
    @media (max-width: 719px) { width: 72px; }

    &.small {
        width: 48px;
        border-radius: 2rem;
        @media (max-width: 1279px) { width: 40px; }    
        @media (max-width: 719px) { width: 36px; }
    }
}

.portrait {
    width: 96px;
    border-radius: 0.5rem;

    @media (max-width: 1279px) { width: 84px; }    
    @media (max-width: 719px) { width: 72px; }

    &.medium {
        width: 120px;
        border-radius: 1rem;
        @media (max-width: 1279px) { width: 90px; }    
        @media (max-width: 719px) { width: 80px; }
    }
    
    &.small {
        width: 48px;
        border-radius: 0.5rem;
        @media (max-width: 1279px) { width: 40px; }    
        @media (max-width: 719px) { width: 36px; }
    }

    &.xsmall {
        width: 32px;
    }
}

.illustration {
    width: 96px;
    border-radius: 0.5rem;

    @media (max-width: 1279px) { width: 84px; }    
    @media (max-width: 719px) { width: 72px; }

    &.small {
        width: 48px;
        border-radius: 0.5rem;
        @media (max-width: 1279px) { width: 40px; }    
        @media (max-width: 719px) { width: 36px; }
    }

    &.medium {
        width: 128px;
        border-radius: 1rem;
        @media (max-width: 1279px) { width: 90px; }    
        @media (max-width: 719px) { width: 80px; }
    }

    &.big {
        width: 220px;
        border-radius: 1.5rem;
    }

    &.max {
        width: 100%;
        border-radius: 2rem;
    }
}
